<%= form_with(model: attr, local: true, url: relation_attr_path) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :attr_type %>
  <%= f.text_field :attr_type %>
  <% if attr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attr.errors.count, "error") %> prohibited this attr from being saved:</h2>

      <ul>
      <% attr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
