<p id="notice"><%= notice %></p>

<h1>Attrs</h1>

<p><%= link_to 'relation', relation_path(@attrs.first.relation) %></p>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @attrs.each do |attr| %>
      <tr>
        <td><%= attr.name %></td>
        <td><%= attr.attr_type %></td>
        <td><%= link_to 'Show', relation_attr_path(id: attr.id) %></td>
        <td><%= link_to 'Edit', edit_relation_attr_path(id: attr.id) %></td>
        <td><%= link_to 'Destroy', relation_attr_path(id: attr.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attr', new_relation_attr_path(@relation) %>
